@charset "UTF-8";


/* ���� ��� Ÿ��Ʋ ���� */
.comVisTitle{height: 250px;background: url(/benefit/common/web/images/partnership/bg_partnership_1_tit.jpg) no-repeat 50% 0;}
.comVisTitle .inner{display: table;}
.comVisTitle .location{position: absolute;width: 100%;}
.comVisTitle .hgroup{display: table-cell;height: 250px;text-align: center;vertical-align: middle;}
.comVisTitle .hgroup h1,/* SEO 개선 */
.comVisTitle .hgroup h3{min-height: 44px;font-family: "NSB", "Malgun Gothic","���� ����","MG", sans-serif;font-size: 45px;color: #000;letter-spacing: 0;}
.comVisTitle .hgroup p{color: #222;font-size: 18px;letter-spacing: -.05em;}

/* �������� */
.ptsCardWrap{}

.ptsPromo{height: 400px;background: url(/benefit/common/web/images/partnership/bg_promotion_1.jpg) no-repeat 50% 0;letter-spacing: -.06em;}
.ptsPromo .inner{width: 1080px;margin: 0 auto;}
.ptsPromo .tit{width: 326px;color: #222;}
.ptsPromo .tit h2,/* SEO개선 */
.ptsPromo .tit h4{position: relative;margin: 0 0 24px;padding: 71px 0 24px;font-family:"Noto Sans Bold";font-size:40px;font-weight: 600;line-height: 1.2;}
.ptsPromo .tit h2:after,/* SEO개선 */
.ptsPromo .tit h4:after{content: "";position: absolute;left: 0;bottom:0;display: inline-block;width: 35px;height: 3px;background-color: #222;}
.ptsPromo .tit h4 .ic{display: inline-block;margin: 0 0 5px;padding: 6px 12px 7px;background-color: #ee5555;border-radius: 5px;color: #fff;font-size: 22px;line-height: 1;}
.ptsPromo .tit .i1{font-family:"Noto Sans Regular";font-size: 19px;font-weight: 400;}
.ptsPromo .tit .i2{color: #888;font-size: 14px;}
.ptsPromo .con{position: absolute;right: 0;top: 29px;width: 753px;height: 342px;background-color: #fff;border-radius: 17px;overflow: hidden;}
.ptsPromo .con .le{padding: 0 0 0 19px;}
.ptsPromo .con .le:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.ptsPromo .con .inf{float: left;width: 239px;margin: 12px 0 0;background: url(/benefit/common/web/images/partnership/bg_promotion_2.png) no-repeat 50% 16px;text-align: center;}
.ptsPromo .con .inf .i1{display: table-cell;width: inherit;height: 173px;vertical-align: middle;}
/*.ptsPromo .con .inf .i2{margin: 8px 0 0;}*/
.ptsPromo .con .inf .i2 .a1{display: inline-block;padding: 7px 16px 5px;border: 1px solid #b0d9df;border-bottom: 0;border-top-left-radius: 3px;border-top-right-radius: 3px;color: #3a9faf;font-family:"Noto Sans Medium";font-size: 17px;font-weight: 500;}
.ptsPromo .con .inf .i2 .a2{display: block;margin: 3px 0 0;color: #222;font-family:"Noto Sans Bold";font-size: 24px;font-weight: 600;}
.ptsPromo .con .inf .i2 .a2 strong{display: inline-block;background: url(/benefit/common/web/images/partnership/bg_red_10.gif) repeat-x left 0 bottom 3px;}
.ptsPromo .con .inf .i3{margin: 2px 0 0;color: #888;font-size: 14px;}
.ptsPromo .con .icn{float: left;margin: 156px 0 0;}
.ptsPromo .con .ri{position: absolute;right: 0;top: 0;bottom: 0;width: 204px;border-left: 5px solid #0d8da1;background-color: #069cb2;color: #fff;font-family:"Noto Sans Bold";font-size: 30px;font-weight: 600;text-align: center;line-height: 1.2;}
.ptsPromo .con .ri p{display: table-cell;width: inherit;height: 342px;text-align: center;vertical-align: middle;}
.ptsPromo .con .ri .i1{color: #ffff33;text-shadow: 1px 2px 1px #06899d;}
.ptsPromo .con .ri img{margin: 7px 0 12px;}

.ptsCont{width: 1080px;margin: 70px auto 0;}

.tabLst:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.tabLst.li2 li{width: 50%;}
.tabLst.li3 li{width: 33.333333333%;}
.tabLst.li4 li{width: 25%;}
.tabLst.li5 li{width: 20%;}
.tabLst li{float: left;height: 60px;background-color: #7a7c8d;color: #fff;font-family:"Noto Sans Regular";font-size:22px;font-weight: 400;}
.tabLst li:first-child a{border-left: 0;}
.tabLst li a{position:relative;display:block;height:56px;margin:1px 0 1px 0;padding:0;color:#fff;border-left:1px solid #6f7180;line-height:56px;text-align:center;text-decoration:none;}
.tabLst li.on a{background: #fff;color: #d71826;z-index: 1;}
.tabLst li.on a:before{content: "";position: absolute;top: -5px;left: -5px;width: 100%;height: 56px;box-shadow: 5px 5px 5px rgba(0,0,0,.2);border: 5px solid #d71826;z-index:-1;}
.tabCon{width: 1080px;margin: 70px 0 0;overflow: hidden;}

/* 230224 ����ī�� - KT ������ Simple Life �ϳ�ī�� �߰� */
.cardSet{display: none;position: relative;width: 485px;height:auto;margin: 0 0 24px 0;padding: 45px 20px 152px;border: 1px solid #d0d0d0;background-color: #fff;color: #222;text-align: center; overflow: hidden; }
.cardSet .tags{margin: 0 0 21px;}
.cardSet [class^="tag_"],.cardSet [class*=" tag_"]{margin: 0 2px;padding: 4px 11px;border-radius: 3px;color: #fff;font-family:"Noto Sans Regular";font-size:14px;font-weight: 400;line-height: 1;}
.cardSet .tag_event{background-color: #2fd083;}
.cardSet .tag_sort{background-color: #7361c5;}
.cardSet .h_tit,/* SEO개선 */
.cardSet h5{margin: 0 0 31px;font-family:"Noto Sans Bold";font-size:28px;font-weight: 600;}
.cardSet .im_card{display: inline-block;min-height: 281px;margin-bottom:23px;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-moz-box-justify-content: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-moz-align-items: center;-ms-flex-align: center;align-items: center;-webkit-box-lines: multiple;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;flex-wrap: wrap;}
.cardSet .im_cards { margin: 0 0 40px; }
.cardSet .im_cards .cardTxt { width: 100%; font-size: 13px; text-align: center; padding: 10px 0; }
.cardSet .im_card .cardBx{display: inline-block;position: relative;vertical-align: middle;}
.cardSet .im_card .cardBx + .cardBx { padding-left: 50px; }
.cardSet .im_card [class^="ic_"],.cardSet .im_card [class*=" ic_"]{position: absolute;right: -22px;top: -14px;}
.cardSet .tx_price{margin: 0 0 23px;font-family:"Noto Sans Bold";font-size:26px;font-weight: 600;}
.cardSet .tx_price > p { font-size: 16px; font-family: "NSL" }
.cardSet .tx_info{display: inline-block;font-family:"Noto Sans Regular";font-size: 16px;font-weight: 400;text-align: center;}
.cardSet .tx_info li{position: relative;padding: 0 0 0 14px;text-align: left;}
.cardSet .tx_info li.ic_blt1:before{content: "";position: absolute;left: 0;top: 10px;display: inline-block;width: 4px;height: 4px;background-color: #222;border-radius: 2px;}
.cardSet .tx_info li.ic_blt2{font-size: 14px;}
.cardSet .tx_info li.ic_blt2 span { display: inline-block; margin-right: 0px; text-indent: -19px; }
.cardSet .btns{position: absolute;left: 0;right: 0;bottom: 40px;}
.cardSet .gray-red { position: relative; margin-bottom: 31px; padding: 10px 0; background: #EFEFEF; color: #DE142C; font-size: 20px; font-weight: bold; z-index: 1;}
.cardSet .gray-red:before { content: ''; background: #EFEFEF; width: 150%;height: 100%; position: absolute; top: 0;left: -21px; z-index: -1;}
.cardList{overflow: hidden; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -moz-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;}

.tab-index-2 .cardSet:nth-child(5) .im_card { height: 342px; }
/* //230224 ����ī�� - KT ������ Simple Life �ϳ�ī�� �߰� */


/* ����ī�� ��� Sort JS */
#cardAll .sort-all {display: block;}
#cardNew .sort-new{display: block;}
#cardIns .sort-ins{display: block;}
#cardDc .sort-dc{display: block;}

/* ����Ʈ ����*/
.ptsParkWrap{width: 1080px;margin: 0 auto;padding: 0 0 80px;}

.list-visual{padding-top: 30px;font-size: 0;text-align: center;}
.list-visual li{display: inline-block;position: relative;width: 170px;margin-left: 10px;font-size: 18px;line-height: 1.3;color: #666;text-align: center;vertical-align: top;}
.list-visual li:first-child{margin-left: 0;}
.list-visual li:before{display:block;width:136px;height:136px;margin:0 auto 13px;background-repeat:no-repeat;content:'';}
.list-visual li.li-1:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_1.png);}
.list-visual li.li-2:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_2.png);}
.list-visual li.li-3:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_3.png);}
.list-visual li.li-4:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_4.png);}
.list-visual li.li-5:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_5.png);}
.list-visual li.li-6:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_6.png);}
.list-visual li.li-7:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_7.png);}
.list-visual li.li-8:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_8.png);}
.list-visual li.li-9:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_9.png);}
.list-visual li.li-10:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_10.png);}
.list-visual li.li-11:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_11.png);}
.list-visual li.li-12:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_12.png);}
.list-visual li.li-13:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_13.png);}
.list-visual li.li-14:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_14.png);}
.list-visual li.li-15:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_15.png);}
.list-visual li.li-16:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_16.png);}
.list-visual li.li-17:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_17.png);}
.list-visual li.li-18:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_18.png);}
.list-visual li.li-19:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_19.png);}
.list-visual li.li-20:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_20.png);}
.list-visual li.li-21:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_21.png);}
.list-visual li.li-22:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_22.png);}
.list-visual li.li-23:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_23.png);}
.list-visual li.li-24:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_24.png);}
.list-visual li.li-25:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_25.png);}
.list-visual li.li-26:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_26.png);}
.list-visual li.li-27:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_27.png);}
.list-visual li.li-28:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_28.png);}
.list-visual li.li-29:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_29.png);}
.list-visual li.li-30:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_30.png);}
.list-visual li.li-31:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_31.png);}
.list-visual li.li-32:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_32.png);}
.list-visual li.li-33:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_33.png);}
.list-visual li.li-34:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_34.png);}
.list-visual li.li-35:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_35.png);}
.list-visual li.li-36:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_36.png);}
.list-visual li.li-37:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_37.png);}
.list-visual li.li-38:before{background-image:url(/benefit/common/web/images/partnership/icon_visual_38.png);}

.ppkInfo{margin: 40px 0 0;}
.ppkInfo:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.ppkInfo .img{float: left;width: 490px;}
.ppkInfo .inf{float: left;width: 590px;padding: 36px 0 43px;}
.ppkInfo .inf h2,/* SEO 개선 */
.ppkInfo .inf h4{padding-left: 22px;color: #222;font-family:"Noto Sans Bold";font-size: 26px;font-weight: 600;}
.ppkInfo .inf p{padding-left: 22px;color: #222;font-size: 20px;}
.ppkInfo .inf .list-visual{text-align: left;}
.ppkInfo .clearfix .img-info{float:left;width:530px;margin-left:45px;}

/* ��Ÿ ���� */
.ptsEtcWrap{width: 1080px;margin: 0 auto;padding: 30px 0 80px;}

.ptsEtcWrap .etcCont { width: 844px; margin: 0 auto; font-size: 0; }
.etcCont:after{content: "";display: block;clear: both;visibility: hidden;height: 0;}
.etcInfo{ display: inline-block; width: 400px;border: 1px solid #d0d0d0;margin: 40px 0 0;padding: 30px 0 0;color: #222;text-align: center; border-radius: 30px; vertical-align: top; }
.etcInfo:nth-child(even){margin-left: 40px;}
.etcInfo .img{padding: 26px 0 82px;}
.etcInfo span.tag_aff { display: inline-block; border-radius: 30px; background: #62728A; color: #fff; font-size: 19px; padding: 1px 15px; }
.etcInfo span.tag-bank { background: #EB4343; }
.etcInfo .h_tit,/* SEO개선 */
.etcInfo h4{padding: 15px 0;font-family:"Noto Sans Bold";font-size: 26px;font-weight: bold;}
.etcInfo .i1{font-size: 20px;letter-spacing: -.05em; font-weight: bold; }
.etcInfo .i2{padding: 0 0 20px;font-family:"Noto Sans Bold";font-size: 26px;font-weight: 600;}
.etcInfo .i2 strong{color: #d71826;}
.etcInfo .i3{padding: 0 0 38px;font-size: 16px;}
.etcInfo .etctxt { position: relative; background: #fbfafa; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; padding: 70px 0 30px; }
.etcInfo .etctxt:before { content: ""; position: absolute; top:0px; left: 0; width: 100%; height: 2px; background:url('/benefit/common/web/images/partnership/etc-dotline.png')no-repeat center center; }

.etc-qr_img { padding: 0 0 38px; }
/* ���� */
.tx_red{color: #de142c;}
.tx_gray{color: #888;}

.wbr{display: inline-block;}

.btns{text-align: center;}
[class^="btn_"],[class*=" btn_"]{display: inline-block;height: 46px;font-weight: 500;font-size: 18px;line-height: 46px;color: #fff;text-align: center;}
.btn_round{display: inline-block;padding: 0 40px;border-radius: 46px;}
.btn_red{border-color: #d71826;background-color: #d71826;}
.btn_red:hover{background-color: #b50916;}
.btn_gray { background-color: #7f7f7f; }
.btn_gray:hover {background-color: #666464;}
.btn_line{border: 3px solid #d71826; background-color: #fff; color: #d71826; font-weight: bold; }
.btn_line a { color: #d71826; }
.btn_line:hover{background-color: inherit;}

.btn-round2 {border-radius: 20px;}
.btn-square {display:inline-block; padding:0 10px; border:1px solid #bbb; border-radius:2px; background-color:#fff; font-weight:600; font-size:12px; line-height:26px; color:#666; letter-spacing:-0.025em;}
.btns-fin { background:#f1f1f1; color: #222; }


/* list li numbering */
.tbl-input .list-td .num_c li {padding-left:22px;text-indent:-22px;}
.tbl-input .list-td .num_c li:before {content:none;}
.tbl-input .list-td .img {margin-top:30px;}

.txt_asterisk {margin-top: 6px;padding-left:12px;font-size:14px;color:#939393;text-indent: -12px;}
.list-btn-app .caution {display: block;margin-top: 20px;font-size: 14px;color: #999;text-align: center;}

/* ����ī�� ���ι�� */
.area-line-event {padding:11px 0; border-style:solid; border-width:1px 0; border-color:#062644; background:#1f5c82 url(/benefit/common/web/images/partnership/bg_linebanner.png) no-repeat 50% 0; text-align:center;}
.area-line-event.type-1 {background-color:#1f5c82;}
.area-line-event p {font-size:16px; line-height:27px; color:#fff;}
.area-line-event p .span-tit {display:inline-block; margin-right:7px; padding:0 10px; background-color:#5797c9; font-size:13px;}
.area-line-event.type-1 p .span-tit {background-color:#c75757;}
.area-line-event p .span-deco {text-decoration:underline;}
.area-line-event p .btn-square {margin-left:10px; border-color:#062644;}
.area-line-event.type-1 p .btn-square {border-color:#4ba197;}

.p_tit b {color:#d71826;}

/* 제휴카드 상단 통 배너 이미지(back) */
.mbs-card-top-banner {width:100%;height:400px;background:url('/benefit/common/web/images/card/banner/w_card_top_banner.png') no-repeat 50% 0;}