@charset "UTF-8";

/*_____ scope - reset _____*/
html, body, h1, h2, h3, h4, h5, h6, p, div, th, td, table, pre, code, form, fieldset, legend, input, button, address, ol, ul, li, dl, dt, dd, img, textarea, blockquote {margin:0;padding:0;}
html, body {height:100%;}
body, input, button, select, textarea {font-family:"Malgun Gothic","맑은 고딕","MG","dotum","돋움",sans-serif;font-size:100%;color:#000;line-height:1.45;letter-spacing:-0.5px;}
input, button, select, textarea {box-sizing:border-box;}
h1, h2, h3, h4, h5, h6 {color:#000;font-weight:normal;}
table {table-layout:fixed;width:100%;border-collapse:separate;border-spacing:0;}
ol, ul {list-style-type:none;}
img, fieldset {vertical-align:top;border:0;}
em, i, address {font-style:normal;}
a:link, a:visited, a:active {text-decoration:none;}
a:hover, a:focus {text-decoration:none;/*text-decoration:underline;*/}
button {overflow:visible;background:none;border:0;cursor:pointer;}
button, button:focus, button:active {padding:0;}
button > span {position:relative;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {border-style:none;padding:0;}
[type="password"] {font-family:"Verdana";}

/*_____ scope - reserved word _____*/
/* common */
.invisible {overflow:hidden;position:absolute;left:-1000%;top:auto;width:1px;height:1px;}
caption.invisible {position:relative;}
.hide {display:none;}
.flow {float:left;}
.reverse {float:right;}
.ellipsis {overflow:hidden;display:inline-block;max-width:95%;text-overflow:ellipsis;white-space:nowrap;letter-spacing:-0.5px;}

/* KT Bold, Light */
.ktb {font-family:"KTB", "Malgun Gothic","맑은 고딕","MG", sans-serif;}
.ktl {font-family:"KTL", "Malgun Gothic","맑은 고딕","MG", sans-serif;}

/* align */
.align-left {text-align:left !important;}
.align-right {text-align:right !important;}

/* forms */
[type="text"],
[type="password"] {height:48px;padding:0 20px;border:1px solid #999;}
select {height:48px;padding-left:20px;border:1px solid #999;background:#fff url(../img/common/bg-form-selects.png) no-repeat 100% 50%;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
select::-ms-expand {display:none;}
textarea {overflow:auto;resize:none;padding:10px;}

/* radio-area */
.option-area {display:inline-block;}
.option-area label {display:inline-block;height:20px;margin-right:26px;color:#222;line-height:20px;cursor:pointer;background-repeat:no-repeat;}
.option-area label:last-child {margin:0;}
.option-area [type="radio"] + label {background-image:url(../img/common/bg-form-radios.png);}
.option-area [type="checkbox"] + label {background-image:url(../img/common/bg-form-checkboxs.png);}
.option-area [type="radio"]:disabled + label {cursor:default;}
.option-area.dir-flow label {padding-left:30px;}
.option-area.dir-flow [type="radio"] + label,
.option-area.dir-flow [type="checkbox"] + label {background-position:0 0;}
.option-area.dir-flow [type="radio"]:checked + label,
.option-area.dir-flow [type="checkbox"]:checked + label {background-position:0 -20px;}
.option-area.dir-flow [type="radio"]:disabled + label,
.option-area.dir-flow [type="checkbox"]:disabled + label {background-position:0 -40px;}
.option-area.dir-reverse label {padding-right:30px;}
.option-area.dir-reverse [type="radio"] + label,
.option-area.dir-reverse [type="checkbox"] + label {background-position:100% 0;}
.option-area.dir-reverse [type="radio"]:checked + label,
.option-area.dir-reverse [type="checkbox"]:checked + label {background-position:100% -20px;}
.option-area.dir-reverse [type="radio"]:disabled + label,
.option-area.dir-reverse [type="checkbox"]:disabled + label {background-position:100% -40px;}

/* contents */
/* .column {height:100%;} */
.column .inner {text-align: center;height:100%;}


/* fonts */
/* Spoqa Han Sans" */
 /* @font-face {
 	font-family:"Spoqa Han Sans";
 	font-weight:400;
 	src: local("Spoqa Han Sans Regular"),
 	url("../../lib/etc/SpoqaHanSansRegular.woff2") format("woff2"),
 	url("../../lib/etc/SpoqaHanSansRegular.woff") format("woff"),
 	url("../../lib/etc/SpoqaHanSansRegular.ttf") format("truetype");
 }
 @font-face {
 	font-family:"Spoqa Han Sans";
 	font-weight:700;
 	src: local("Spoqa Han Sans Bold"),
 	url("../../lib/etc/SpoqaHanSansBold.woff2") format("woff2"),
 	url("../../lib/etc/SpoqaHanSansBold.woff") format("woff"),
 	url("../../lib/etc/SpoqaHanSansBold.ttf") format("truetype");
 }
 MalgunGothic
 @font-face {
 	font-family:"MG";
 	font-style:normal;
 	src:url(../../lib/etc/MalgunGothic.eot);
 	src:local("MalgunGothic"), local("Malgun Gothic"),
 	url(../../lib/etc/MalgunGothic.eot?#iefix) format("embedded-opentype"),
 	url(../../lib/etc/MalgunGothic.woff) format("woff"),
 	url(../../lib/etc/MalgunGothic.ttf) format("truetype");
 }
 KT Bold, Light
 @font-face {
 	font-family:"KTL";
 	font-style:normal;
 	src:url(../../lib/etc/KTL.eot);
 	src:local("KTL"),
 			url(../../lib/etc/KTL.eot?#iefix) format('embedded-opentype'),
 			url(../../lib/etc/KTL.woff) format('woff'),
 			url(../../lib/etc/KTL.woff2) format('woff2');
 }
 @font-face {
 	font-family:"KTB";
 	font-style:bold;
 	src:url(../../lib/etc/KTB.eot);
 	src:local("KTB"),
 			url(../../lib/etc/KTB.eot?#iefix) format('embedded-opentype'),
 			url(../../lib/etc/KTB.woff) format('woff'),
 			url(../../lib/etc/KTB.woff2) format('woff2');
 }
 */
/* visual */

/* .visual {width: 100%;height: 250px;margin-bottom: 70px;background-position: center top} */
.visual .hgroup {padding-top: 46px}
.visual .hgroup h1,/* 0709 SEO 개선 */
.visual .hgroup h3 {min-height: 44px;font-family: KTB,"Malgun Gothic","맑은 고딕",MG,sans-serif;font-size: 45px;color: #fff;letter-spacing: 0}
.visual .hgroup p {margin-top: 1px;font-size: 18px;color: #000}
.visual.sub-main {height: 500px;margin: 0}
.visual.sub-main .hgroup {padding-top: 147px}
.visual.sub-main .hgroup h3 {font-size: 60px}
.visual.sub-main .hgroup h3:after {display: block;width: 42px;height: 2px;margin: 39px auto 0;background-color: #fff}
.visual.rate {margin-bottom:0;}
.visual.price {height:auto;margin-bottom:0; background:none;}
.visual.util {margin-bottom:70px;background:url("../img/index/bg-visual-03.jpg") no-repeat;}


/* location */
/* .location {padding-top:18px;text-align:right;} */
/* .location > span {display:inline-block;margin-left:8px;padding-left:20px;font-size:16px;color:#000;background-image:url('/static/common/web/img/index/ico-location-arrow.png');background-repeat:no-repeat;background-position:0 7px;}
.location > span:first-child {margin:0;padding:0;background:none;} */
/* .location a {color:#999;} */
.location a:hover {text-decoration:underline;}
.location .home {display:inline-block;position:relative;top:4px;width:19px;height:16px;margin:0;text-align:left;text-indent:-9999px;background-image:url('/static/common/web/img/index/ico-location-home.png');background-repeat:no-repeat;background-position:0 0;}
.location.is-white a,
.location.is-white span {color:#fff;}
.location.is-white > span {background-position:0 -15px;}
.location.is-white .home {background-position:0 -22px;}

/* btn */
.btn {overflow:hidden;display:inline-block;text-align:center;vertical-align:top;letter-spacing:-0.25px;border-radius:5px;box-sizing:border-box;}
.btn.small {height:28px;padding:0 10px;font-size:12px;line-height:28px;}
.btn.regular {height:40px;padding:0 20px;font-size:15px;line-height:40px;border-radius:2px;}
.btn.medium {height:40px;padding:0 25px;font-size:15px;line-height:40px;}
.btn.large {height:46px;padding:13px 50px 0;font-size:18px;line-height:18px;border-radius:21px;}
.btn.big {width:190px;height:53px;font-size:18px;line-height:53px;border-radius:26px;}
.btn.circle {width:48px;height:48px;text-indent:-9999px;border:2px solid #d2d2d2;border-radius:50%;background-image:url(../img/common/bg-btn-direction.png);background-repeat:no-repeat;}
.btn.circle.prev-red {background-position:-2px -1px;}
.btn.circle.next-red {background-position:-50px -1px;}
.btn.circle.prev-navygray {background-position:-98px -1px;}
.btn.circle.next-navygray {background-position:-146px -1px;}
.btn.is-red {color:#fff;background-color:#d71826;}
.btn.is-red:hover {background-color:#b50916;}
.btn.is-line-red {color:#d71826;}
.btn.is-lightgray {color:#fff;background-color:#484848;}
.btn.is-line-lightgray {color:#666;border-color:#bbb;}
.btn.is-navygray {color:#fff;background-color:#333;}
.btn.is-navygray:hover{background-color:#000;}
.btn.is-line-navygray {color:#222;border-color:#333;}
.btn.big.is-line-navygray:hover {background-color:#fff;}
[class*="btn circle"] {background-color:#fff;}
[class*="btn circle"]:hover {background-color:#ebebeb;}
[class*="is-line-"] {border-width:2px;border-style:solid;}
[class*="small is-line-"] {border-width:1px;line-height:26px !important;}
[class*="regular is-line-"] {border-width:1px;line-height:38px !important;}
[class*="medium is-line-"] {line-height:36px !important;}
/*[class*="btn large is-line-"] {padding-top: 12px !important;}*/
[class*="medium is-line-"]:hover,
[class*="large is-line-"]:hover {background-color:#ebebeb;}
[class*="big is-line-"] {line-height:49px !important;}
.btn [class*="ico-"] {display:inline-block;background-repeat:no-repeat;background-position:100% 50%;}
.btn .ico-play {padding-right:25px;background-image:url(../img/common/bg-btn-play.png);}
.btn .ico-down {padding-right:18px;background-image:url(../img/common/bg-btn-down.png);}
.btn.down {display:inline-block;width:128px;height:32px;font-size:15px;color:#393939;line-height:30px;border:2px solid #dcdcdc;border-radius:5px;}
.btn.down i {display:inline-block;padding-right:18px;background-image:url(../img/common/bg-btn-down.png);background-repeat:no-repeat;background-position:100% 50%;}
.btn.down.large {height:40px;padding:0;line-height:38px;}

/* btn-area */
.btn-area {overflow:hidden;width:100%;text-align:center;}


/* bx-slider */
.bx-wrapper{margin: 0;border: none;box-shadow: none}
.bx-wrapper img{display: inline-block;max-width: initial}
.bx-slider{position: relative;text-align: center}
.bx-slider .bxslider .item{height: 200px}
.bx-slider .nav button{position: absolute;z-index: 10;top: 50%;margin-top: -24px}
.bx-slider .nav button.prev{left: 0}
.bx-slider .nav button.next{right: 0}
.bx-slider .controls {position:absolute;z-index: 100;left:0;right:0;bottom:0;width:1080px;margin: 0 auto;text-align: center}
.bx-slider .controls .controls-wrap{display: inline-block;padding: 5px 26px;background-color: rgba(0,0,0,0.2);border-radius: 17px}
.bx-slider .controls .controls-wrap button{display: inline-block;border: none;box-sizing: border-box;background-color: none}
.bx-slider .controls .auto{display: inline-block;margin: 0 9px 0 0}
.bx-slider .controls .auto button{width: 10px;height: 12px; background-image: url(../../js/plugin/jquery.bxslider/images/controls.png);background-repeat: no-repeat}
.bx-slider .controls .auto button.play{background-position: -86px -11px;display: none}
.bx-slider .controls .auto button.stop{background-position: -86px -44px}
.bx-slider .controls .pager {display: inline-block}
.bx-slider .controls .pager button {width: 11px;height: 11px;border: 2px solid #222;border-radius: 7px;vertical-align: middle;margin: 0 2px}
.bx-slider .controls .pager button.active {background-color: #222}

/* sorting */
.sorting {display:inline-block;height:40px;}
.sorting [type="button"] {float:left;}
.sorting [type="button"] span {display:inline-block;width:37px;height:40px;font-size:14px;line-height:38px;border:1px solid #ccc;border-left:0;box-sizing:border-box;}
.sorting [type="button"]:first-child span {border-left:1px solid #ccc;}
.sorting [type="button"]:hover {background-color:#ebebeb;}
.sorting [type="button"].active span {color:#fff;border:1px solid #000;background-color:#484848;}
.sorting [type="button"] .wide {width:59px;}

/* layer */
.layers {position:relative;display:inline-block;border:3px solid #555;background-color:#fff;box-sizing:border-box;}
.layers .layer-header {color:#222;text-align:center;letter-spacing:-0.5px;border-bottom:1px solid #ccc;}
.layers .layer-contents {min-height:100px;}
.layers .layer-close {position:absolute;right:30px;}
.layers .layer-today-close {height:32px;padding:8px 0 0 32px;border-top:1px solid #ccc;}
.layers .layer-today-close label {font-size:14px;color:#888;letter-spacing:-0.5px;}
.layers .board {border-top:2px solid #555;}
.layers .btn.medium {padding:0 40px;}
.layers .layer-subject {margin:25px 0 1px;font-size:18px;color:#222;}
.layers .layer-example {margin-top:26px;padding:25px 0 26px 29px;background-color:#f1f2fa;}
.layers .layer-msg {margin-top:11px;color:#222;text-align:center;}
.layers .btn-area {padding-top:30px;}
.layers .btn-area .btn {margin:0 2px;}
.layers .option-area {vertical-align:top;}
.layers p {letter-spacing:-0.5px;}
.layers.small .layer-header {height:67px;font-size:24px;line-height:67px;}
.layers.small .layer-contents {padding:34px 32px 50px;}
.layers.small .layer-close {top:23px;}
.layers.big .layer-contents {padding:34px 32px 40px;}
.layers.big .layer-header {height:85px;font-size:30px;line-height:85px;}
.layers.big .layer-sub-title {margin:0 0 8px;font-size:20px;color:#222;font-weight:bold;}
.layers.big .layer-close {top:31px;}
.layers.bnn .layer-close {right:20px;top:20px;}