@use './variables' as *;

// font style
@mixin font-style ($fz, $fw: inherit, $lh: normal, $ls: 0px) {
  font-size: $fz;
  font-style: normal;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
  @content;
}

/* pc */
@mixin font-title-46 ($fz:46px, $fw:400, $lh:130.435%, $ls:-1.84px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}

@mixin font-title-35 ($fz:35px, $fw:400, $lh:130%, $ls:-1.75px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}


@mixin font-info-20 ($fz:20px, $fw:400, $lh:normal, $ls:-1px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}
@mixin font-info-30 ($fz:30px, $fw:400, $lh:normal, $ls:-1.5px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}

@mixin font-info-35 ($fz:35px, $fw:500, $lh:normal, $ls:-1.75px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}

/* mobile */
@mixin mo-font-title-26 ($fz:26px, $fw:400, $lh:123%, $ls:-1.3px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}

@mixin mo-font-title-23 ($fz:23px, $fw:400, $lh:130%, $ls:-0.92px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}

@mixin mo-font-title-20 ($fz:20px, $fw:300, $lh:1.28571, $ls:-1.75px) {
  @include font-style($fz, $fw, $lh, $ls);
  @content;
}


// layout
@mixin flex ($direction: row, $ai: center, $jc: flex-start, $gap: 0) { 
  display: flex;
  flex-direction: $direction;
  align-items: $ai;
  justify-content: $jc;
  gap: $gap;
  @content;
}

@mixin inline-flex ($direction: row, $ai: center, $jc: flex-start) { 
  display: flex;
  flex-direction: $direction;
  align-items: $ai;
  justify-content: $jc;
  @content;
}

// 가상요소 생성
@mixin after($w, $h) {
  position: relative;
  z-index: 0;

  &::after {
    display: block;
    position: absolute;
    content: '';
    width: $w;
    height: $h;
    @content;
  }
}

@mixin before($w, $h) {
  position: relative;
  z-index: 0;

  &::before {
    display: block;
    position: absolute;
    content: '';
    width: $w;
    height: $h;
    @content;
  }
}

@mixin before-flex($w, $h, $gap: 0, $content: '') {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $gap;
  
  &::before {
    display: block;
    content: $content;
    width: $w;
    height: $h;
    @content;
  }
}


/* KT 전용 스타일 */
@mixin after-underline ($w: 100%, $h, $bottom: 0, $left: 50%, $z-index: -1, $bg-color: var(--underline-mint)) {
  @include after ($w, $h) {
    bottom: $bottom;
    left: $left;
    @if $left == 50% {
      transform: translateX(-50%);
    }
    z-index: $z-index;
    background-color: $bg-color;
  }
}

@mixin before-underline ($w: 100%, $h, $bottom: 0, $left: 50%, $z-index: -1, $bg-color: var(--underline-mint)) {
  @include before ($w, $h) {
    bottom: $bottom;
    left: $left;
    @if $left == 50% {
      transform: translateX(-50%);
    }
    z-index: $z-index;
    background-color: $bg-color;
  }
}