// font
$font-f-noto: "Noto Sans", "Malgun Gothic","맑은 고딕","MG","dotum","돋움",sans-serif;
$font-f-noto-v2: "NotoSansKR", "Malgun Gothic","맑은 고딕","MG","dotum","돋움",sans-serif;

// color
$color-primary-mint: #5DDFDE;
$color-primary-red : #D92C38;
$color-sub-navy-gray : #38445D;
$color-white: #fff;
$color-black: #000;
$color-gray-100: #222; // 미정
$color-gray-300: #222; // 미정
$color-gray-400: #222; // 미정
$color-gray-500: #666; // 미정
$color-gray-600: #454545;
$color-gray-700: #444;
$color-gray-800: #333;
$color-gray-900: #222;

$color-bg-red :  #E75357;
$color-bg-gray-light : #F4F7F9;
$color-bg-mint : #21FFF0;
