@charset "utf-8";

.wgt_header{border-bottom: 1px solid #e0e0e0;}
.wgt_header + .line_dvdr{margin-top: -1px;}

.wgt_tabs{margin: 0 1.5625%;border-top: 1px solid #e0e0e0;}
.wgt_tabs ul{display: flex;font-size: 16px;}
.wgt_tabs li{flex: 1;}
.wgt_tabs li a{display: flex;align-items: center;-ms-flex-pack: center;justify-content: center;min-height: 55px;padding: 4px 0 0;color: #222;}
.wgt_tabs li.on{position: relative;}
.wgt_tabs li.on a{color: #d71826;}
.wgt_tabs li.on a:before{content: "";position: absolute;left: 0;right: 0;bottom: 0;height: 4px;background-color: #d71826;}
.wgt_tabs a{display:block;text-align:center;}
.wgt_tabs a span{display:inline-block;box-sizing:border-box;padding:1rem .6rem .7rem .4rem;color:#666;font-size:1.2rem;line-height:1.3em;}
.wgt_tabs + .line_dvdr{margin-top: -1px;}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.wgt_tabs li a{height: 55px;}
}
/* 제휴혜택 */
.ptsPromo{padding: 27px 3.125% 30px;background-image: url(https://m.product.kt.com/benefit/common/mobile/images/partnership/bg_partnershipcard_01.png) , url(https://m.product.kt.com/benefit/common/mobile/images/partnership/bg_partnershipcard_02.jpg);background-repeat: no-repeat, repeat-x;background-position: 50% 0, 0 0;background-size: 125% auto, auto 100%;}
.ptsPromo .inner{max-width: 600px;margin: 0 auto;}
.ptsPromo .tit{margin: 0 0 17px;text-align: center;}
.ptsPromo .tit h2,/* 0725 */
.ptsPromo .tit h4 {margin: 0 0 4px;color: #222;font-size: 17px;}
.ptsPromo .tit h2 .ic,/* 0725 */
.ptsPromo .tit h4 .ic {display: block;margin: 0 0 2px;color: #d71826;}
.ptsPromo .tit p{color: #666;font-size: 12px;}
.ptsPromo .con{border-radius: 8px;background-color: #fff;overflow: hidden;}
.ptsPromo .con .le{display: flex;padding: 0 0 21px;}
.ptsPromo .con .inf{flex: 1 47%;padding: 20px 0 0;text-align: center;}
.ptsPromo .con .inf .i1{position: relative;width: 105px;margin: 0 auto 10px;text-align: center;}
.ptsPromo .con .inf .i1:before{content: "";display: block;width: 83px;height: 83px;margin: 0 auto;border-radius: 50%;background-color: #ddf1f5;}
.ptsPromo .con .inf .i1 img{position: absolute;left: 6px;top: 13px;width: 92px;box-shadow: 0 0 5px #8de2df;border-radius:3px;}
.ptsPromo .con .inf .i2 .a1{display: inline-block;padding: 4px 9px;border: 1px solid #b0d9df;border-bottom: 0;border-top-left-radius: 3px;border-top-right-radius: 3px;color: #3a9faf;font-size: 12px;}
.ptsPromo .con .inf .i2 .a2{display: block;margin: 3px 0 0;color: #222;font-size: 16px;font-weight: bold;}
.ptsPromo .con .inf .i2 .a2 .tx_bg_red{position: relative;}
.ptsPromo .con .inf .i2 .a2 .tx_bg_red:before{content: "";position: absolute;left: 0;right: 0;bottom: 2px;display: block;height: 6px;background-color: #fed9d9;}
.ptsPromo .con .inf .i2 .a2 .tx_bg_red span{position: relative;}
.ptsPromo .con .inf .i3{margin: 4px 0 0;color: #888;font-size :11px;}
.ptsPromo .con .inf_vtc .i1 img{left: 24px;top: -4px;width: 58px;/*transform: rotate(-90deg);*/}
.ptsPromo .con .icn{position: relative;width: 6%;align-self: center;}
.ptsPromo .con .icn:before{content: "";display: block;width: 2px;height: 18px;margin: 0 auto;background-color: #8dd6e2;}
.ptsPromo .con .icn:after{content: "";position: absolute;left: 50%;top: 8px;display: block;width: 18px;height: 2px;margin-left: -9px;background-color: #8dd6e2;}
.ptsPromo .con .ri{padding: 12px 0 11px;border-top: 4px solid #0d8da1;background-color: #069cb2;color: #fff;font-size: 21px;font-weight: bold;text-shadow: 1px 2px 1px #06899d;text-align: center;letter-spacing: -.1em;}
.ptsPromo .con .ri .i1{color: #ffff33;}

.cardSet{display: none;position: relative;min-height: 105px;border-bottom: 1px solid #e2e2e2;color: #222; overflow: hidden;}
.cardSet .tags{margin: 0 0 8px;}
.cardSet [class^="tag_"],.cardSet [class*=" tag_"]{display: inline-block;padding: 2px 6px;border-radius: 3px;color: #fff;font-size:11px;line-height: 1`11;vertical-align: middle;}
.cardSet .tag_event{background-color: #2fd083;}
.cardSet .tag_sort{background-color: #7361c5;}
.cardSet .im_card{position: absolute;left: 0;top: 48px;width: 140px;text-align:center;}
.cardSet .im_card .cardBx{position: relative;display: block;}
.cardSet .im_card .cardBx +.cardBx { margin-top: 10px; }
.cardSet .im_card .cardTxt { font-size :10px; margin-top: 5px; }
.cardSet .im_card [class^="ic_"],.cardSet .im_card [class*=" ic_"]{position: absolute;left: 15px;top: -9px;}
.cardSet .im_card .ic_end { left: 86px; top: -8px; }
.cardSet .im_card .ic_end img { width: 40px; }
.cardSet .im_card .ic_new img{width: 33px;}
.cardSet .im_card .cardBx > img{width: 105px;}
.cardSet .img_land { padding: 20px 10px 40px 140px; }
.cardSet .img_land .cardBx > img{width: 68px;}
.cardSet .img_lands { padding: 20px 10px 82px 140px; }
.cardSet .h_tit,/* SEO개선 */
.cardSet h5{margin: 0 0 5px;font-size:15px;}
.cardSet .btns{margin: 11px 0 0;}
.cardSet .gray-red {margin-bottom: 20px; padding: 10px 0; background: #EFEFEF; color: #DE142C; font-size: 16px; font-weight: bold; text-align: center;}
.btn-gray {background-color: #ededed; color: #000; }
.btn-gray:hover { background-color: #cbcbcb; }
.cardSet:nth-child(1) { border-bottom: none; padding: 0; }
.card-bnf { padding: 20px 10px 20px 140px; }
.card-bf_ct { text-align: center; padding: 0 10px 20px; border-bottom: 1px solid #e2e2e2; }
.card-bf_ct img { max-width: 500px; }
.card-bf_ct img + .card-etc { padding: 20px 0 0; }
.card-bf_ct > div.btns { margin-top: 20px; }

/* 제휴카드 라인배너 */
.area-line-event {padding:11px 0; border-style:solid; border-width:1px 0; border-color:#062644; background:#1f5c82 url(/benefit/common/mobile/images/partnership/bg_linebanner.png) no-repeat 0 0 / 100%; text-align:center;}
.area-line-event.type-1 {background-color:#1f5c82;}
.area-line-event p {font-size:11px; line-height:27px; color:#fff;letter-spacing:-0.05em;}
.area-line-event p a {font-size:11px; line-height:27px; color:#fff;letter-spacing:-0.15em;}
.area-line-event p .span-tit {display:inline-block; margin-right:4px; padding:0 4px; background-color:#5797c9; font-size:7.8px;}
.area-line-event.type-1 p .span-tit {background-color:#c75757;}
.area-line-event p .span-deco {text-decoration:underline;}
.area-line-event p .btn-square {margin-left:10px; border-color:#062644;}
.area-line-event.type-1 p .btn-square {border-color:#4ba197;}

.p_section {margin-bottom: 25px;}
.p_tit {font-weight:600;font-size:10px;color:#333;letter-spacing: -0.15em;}
.p_tit b {color:#d71826;}
.cnt_box3 table {margin-top: 10px;}
.cnt_box3 .tbl-input tbody th, .cnt_box3 .tbl-input tbody td {font-size:9px;}
.area-layer .box-unit + .list-btn-app {margin-top:-5px;}
.btn-round {display:inline-block; -webkit-box-sizing:border-box; box-sizing:border-box; min-width:109px; padding:0 15px; border-radius:30px; font-weight:500; font-size:13px; line-height:30px; color:#fff; text-align:center; white-space:nowrap;}

/* list li numbering */
.tbl-input .list-td .num_c li {padding-left:11px;text-indent:-11px;}
.tbl-input .list-td .num_c li:before {content:none;}
.tbl-input .list-td .img {margin-top:15px;}
.txt_asterisk {margin-top: 6px;padding-left:6px;font-size:7px;color:#939393;text-indent: -6px;}
.list-btn-app .caution {display: block;margin-top: 20px;margin-bottom: 20px;font-size: 9px;color: #999;text-align: center;}

@media (min-width:641px) {
	.ptsPromo{background-size: 100% auto, auto 100%;}
}
@media (min-width:801px) {
	.ptsPromo{background-size: 800px auto, auto 100%;}
}

/* 제휴카드 목록 Sort JS */
#cardAll .sort-all {display: block;}
#cardNew .sort-new {display: block;}
#cardIns .sort-ins {display: block;}
#cardDc .sort-dc {display: block;}
@media all and (min-device-width:0px) and (max-device-width:1200px){
	.cardSet [class^="tag_"],.cardSet [class*=" tag_"]{padding-top:2.6px;padding-bottom: 2.3px;}
	.cardSet .tx_info li.ic_blt1:before{top: 7.8px;}
}

/* 포인트 혜택 */
.ppkInfo{display: flex;margin: 30px 0;padding: 0 10px;text-align: center;}       
.etcCont { margin: 30px 50px 50px; }
.etcInfo { border: 1px solid #e2e2e2; border-radius: 30px; text-align: center; padding: 20px 0 0; }
.etcInfo + .etcInfo { margin-top: 30px; }
.etcInfo .img{padding: 25px 0 35px; }
.etcInfo .img img{width: 200px;}
.etcInfo .tit,/* SEO개선 */
.etcInfo h4{display:block; padding-top: 10px;font-size: 15px; font-weight: bold; color: #222;}/* SEO개선 */
.etcInfo .inf p{margin: 0 0 9px;color: #222;font-size: 13px; word-break: keep-all; }
.etcInfo .inf p.i1 { font-size: 14px; font-weight: bold; }
.etcInfo .inf .tx_info{margin-bottom: 11px;color: #333;}
.etcInfo .tag_aff { display: inline-block; padding: 3px 10px; background: #62728A; border-radius: 30px; color: #fff; font-size: 10px; }
.etcInfo .tag_bank { background: #EB4343 }
.etcInfo .inf { position: relative; padding: 40px 5px 40px; background:#FBFBFB; border-radius: 30px; border-top-left-radius: 0; border-top-right-radius: 0; }
.etcInfo .inf:before { content: ""; position: absolute; top: 0; left: 0; display: block; width: 100%; height: 1px; background: url('https://m.product.kt.com/benefit/common/mobile/images/partnership/m_etc-dotline.png')repeat center center; }
.etcInfo .btns { margin-top: 18px; }
.etcInfo .btns a { color: #d71826; }


/* layer */
.area-layer {display:none; -webkit-box-sizing:border-box; box-sizing:border-box; position:absolute; top:20px; left:0; width:100%; padding:0 25px;}
.area-layer:before {display:block; position:fixed; top:0; left:0; z-index:110; width:100%; height:100%; background-color:rgba(0,0,0,.5); content:'';}
.area-layer > .box-layer {-webkit-box-sizing:border-box; box-sizing:border-box; position:relative; z-index:900; width:100%; border:2px solid #555; box-shadow:7px 7px 7px rgba(0,0,0,.15); background-color:#fff; font-size:13px; word-break:keep-all; text-align:center;}
.area-layer.type-benefit,
.area-layer.type-agree,
.area-layer.type-win {position:absolute;}
.area-layer.type-win .box-unit,
.area-layer.type-agree .box-unit,
.area-layer.type-wait .box-unit,
.area-layer.type-benefit .box-unit {text-align:left;}
.area-layer .box-unit {margin:14px 15px 25px;}
.area-layer .btn-close {position:absolute; top:0; right:0;}
.area-layer .btn-close > * {display:block; position:relative; width:46px; height:46px; border:none; background-color:transparent;}
.area-layer .btn-close > * img {width:14px;height:14px;}
/*.area-layer .btn-close > * span {display:block; overflow:hidden; position:absolute; top:15px; left:11px; width:14px; height:0; background-size:14px 13px;}*/
.area-layer .btn-close > a{display:block;width:46px; height:46px; background:url(/benefit/common/mobile/images/partnership/icon_close.png) center center no-repeat;}
.area-layer .btn-close > a > span{width:0;height:0;font-size:0;line-height:0;text-indent:-99999em;}
.area-layer .heading-h3 {display:block; margin:0; padding:14px 0; border-bottom:1px solid #cecece; font-size:16px; letter-spacing:-0.05em;}/* SEO개선 */
.area-layer.type-win .heading-h3,
.area-layer.type-benefit .heading-h3 {margin-bottom:0;}
.area-layer .txt {font-size:13px; line-height:1.5em; color:#222; letter-spacing:-0.025em;}
.area-layer .txt-1 {margin-bottom:2px; font-weight:600; font-size:13px; line-height:1.3em; color:#222; letter-spacing:-0.025em;}
.area-layer .txt-2 {margin-bottom:2px; font-weight:600; font-size:13px; line-height:1.3em; color:#222; letter-spacing:-0.025em;}
.area-layer .heading-h3 + .btn-close + .txt-1,
.area-layer .heading-h3 + .btn-close + .txt-2 {margin-top:23px;}
.area-layer .heading-h4 {font-size:15px; letter-spacing:-0.025em;}
.area-layer .heading-h5 {margin-top:15px;}
.area-layer .txt-2.type-red {color:#d71826;}
.area-layer .img-banner {margin:14px 15px 15px;}
.area-layer .img-banner img {width:100%;}
.area-layer .txt-agree {margin:15px 0; font-weight:600; font-size:12px; color:#454545; letter-spacing:-0.05em;}
.area-layer .txt-agree .list-inline {margin-left:15px; text-align:right;}
.area-layer .txt-agree .list-inline li input[type="radio"] + label:before {margin-top:0;}/* 2018.05.25 add */
.area-layer .txt-agree .list-inline li input[type="radio"]:focus + label:after {top:4px;left:4px;width:9px;height:9px;border:none;}/* 2018.05.25 add */
.area-layer .box-coupon {position:relative; margin:13px 15px 15px; padding:13px 27px; border-radius:5px; background-color:#a2e3d0; letter-spacing:-0.025em;}
.area-layer .box-coupon + .list-btn-app .btn-ellipse {width:122px;}
.area-layer .box-coupon .list-inline li {font-size:11px;}
.area-layer .box-coupon:before,
.area-layer .box-coupon:after {display:block; position:absolute; top:50%; background:url(/benefit/common/mobile/images/partnership/bg_win_1.png) no-repeat; background-size:85px 55px; content:'';}
.area-layer .box-coupon:before {left:8px; width:25px; height:21px; margin-top:2px;}
.area-layer .box-coupon:after {right:3px; width:60px; height:55px; margin-top:-29px; background-position:-25px 0;}
.area-layer .box-coupon .tit {font-weight:600; font-size:13px; color:#222;}
.area-layer .box-coupon .num {display:block; margin:6px 0; padding:0 10px; background-color:#e1fff6; font-weight:600; font-size:11px; line-height:30px; color:#222;}
.area-layer .box-coupon .list-inline {font-size:11px; letter-spacing:-0.09em;}
.area-layer .area-precaution {margin-top:25px; padding:13px 15px 21px; border-top:1px solid #ccc; text-align:left;}
.area-layer .area-precaution h4 {margin-bottom:12px; font-weight:600; font-size:16px; color:#222;}
.area-layer .area-tab {position:relative; margin-top:0;}
.area-layer .area-tab .box-tab {display:none;}
.area-layer .area-tab .box-tab.on {display:block;}
.area-layer .area-tab .box-tab.type-2 {border:none;}/* 2018.05.25 add */
.area-layer .area-tab.type-1 {padding-top:0;}
.area-layer .box-tab-unit {display:none;}
.area-layer .box-tab-unit.type-1 .heading-h5:first-child,
.area-layer .box-tab-unit.type-1 .heading-h5:first-child + .txt-info {text-align:center;}
.area-layer.type-benefit .box-tab-unit.type-1 .heading-h5:first-child,
.area-layer.type-benefit .box-tab-unit.type-1 .heading-h5:first-child + .txt-info,
.area-layer.type-benefit .box-tab-unit {text-align:left;}
.area-layer .box-tab.on .box-tab-unit {display:block;}
.area-layer .box-tab .link-tit {position:absolute; top:0; left:50%; width:50%; height:50px; letter-spacing:-0.05em;}
.area-layer .area-tab.size-3 .box-tab .link-tit {width:33.333%;}
.area-layer .area-tab.size-4 .box-tab .link-tit {width:25%;}
.area-layer .area-tab.size-3 .box-tab.type-2 .link-tit {left:33.333%;}
.area-layer .area-tab.size-3 .box-tab.type-3 .link-tit {left:66.666%;}
.area-layer .area-tab.size-4 .box-tab.type-2 .link-tit {left:25%;}
.area-layer .area-tab.size-4 .box-tab.type-3 .link-tit {left:50%;}
.area-layer .area-tab.size-4 .box-tab.type-4 .link-tit {left:75%;}
.area-layer .box-tab.type-1 .link-tit {left:0;}
.area-layer .box-tab .link-tit a {display:block; font-size:16px; line-height:45px; color:#222; text-align:center;}
.area-layer .box-tab:first-child .link-tit a {border-left:none;}
.area-layer .box-tab.on .link-tit a {position:relative; color:#d71826;}
.area-layer .box-tab.on .link-tit a:after {display:block; position:absolute; bottom:0; width:100%; height:2px; background-color:#d71826; content:'';}
.area-layer .txt-wait {position:relative; padding-bottom:163px; font-size:13px; color:#666; letter-spacing:-0.05em;}
.area-layer .txt-wait:after {display:block; position:absolute; bottom:0; left:50%; width:286px; height:0; margin-left:-143px; padding-top:53.14685314685315%; background:url(/benefit/common/mobile/images/partnership/bg_wait.png) no-repeat 50% 100%; background-size:contain; content:'';}
.area-layer .txt-tit {margin:20px 0 8px; font-size:17px; color:#222;}
.area-layer .txt-info {margin:4px 0 15px; font-size:13px; line-height:19px; color:#666; letter-spacing:-0.05em;}
.area-layer .list-exp {margin:12px 0; border-top:1px solid #666; counter-reset:li;}
.area-layer .list-exp > li {position:relative; padding:10px 0 10px 25px; border-bottom:1px solid #e0e0e0; font-size:13px; line-height:19px; letter-spacing:-0.05em;}
.area-layer .list-exp > li:before {display:block; position:absolute; top:10px; left:5px; font-weight:600; font-size:14px; color:#d71826; content:'0'counter(li); counter-increment:li;}
.area-layer .type-floating{position:fixed;left:0;right:0;bottom:0;margin-top:0;padding:15px;background-color:#fff;border-top:1px solid #cecece;z-index:10;}
.area-layer .btm-type-fix{position: fixed;left: 0;right: 0;bottom: 0;padding: 12px 15px;border-top: 1px solid #cecece;background-color: #fff;z-index: 10;}

.layer-comAuth .box-unit{margin: 0 15px;}
.layer-comAuth .heading-h4{margin: 0 0 15px;padding: 0 0 11px;border-bottom: 1px solid #222;}
.layer-comAuth .heading-h4 + .list-input{margin-top: -5px;}
.layer-comAuth .wbr{display: inline-block;}
.layer-comAuth .auth-phn{text-align: center;}
.layer-comAuth .auth-phn .tx1{color: #000;}
.layer-comAuth .auth-phn .btn-wrap{margin: 21px 0 0;}
.layer-comAuth .auth-phn + .auth-phn{margin: 20px 0 0;}
.layer-comAuth .auth-txbx{margin: 15px 15px 0;padding: 16px 15px 17px;background-color: #ebebeb;text-align: left;line-height: 1.5;}
.layer-comAuth .stepbx{padding: 27px 0 7px;}
.layer-comAuth .step_agr .auth-txbx{margin: 0 0 15px;}

.layer-comShare.area-layer.layer-type-cover:before{content: none;}
.layer-comShare.area-layer.layer-type-cover .box-layer{padding-bottom: 63px;background-color: transparent;}
.layer-comShare .hd{padding: 30px 0;color: #222;background-color: #fff;text-align: center;}
.layer-comShare .hd .i1{margin: 0 0 5px;font-size: 20px;font-weight: bold;letter-spacing: -.05em;}
.layer-comShare .hd .i2{font-size: 12px;}

@media all and (min-device-width:0px) and (max-device-width:1200px){
	.layer-comAuth .auth-txbx{padding: 16px 15px 14px;}

	/*.layer-comShare .hd{padding-bottom: 25px;}*/
}


/* 본인인증 - 핸드폰 인증 영역 */
.area-layer .auth-cfm{padding: 10px 0 0;border-top: 1px solid #555;font-size: 12px;text-align: center;}
.area-layer .auth-cfm .tx1{font-size: 12px;}

.area-layer.layer-type-cover{position:absolute;top:0;left:0;right:0;bottom:0;padding-left:0;padding-right:0;background-color:#fff;z-index:110;}
.area-layer.layer-type-cover:before{background: #fff;}
.area-layer.layer-type-cover .box-layer{padding: 46px 0 100px;border: 0 none;box-shadow: none;}
.area-layer.layer-type-cover .box-layer > .heading-h3{position: fixed;left: 0;right: 0;top: 0;height: 46px;background-color: #fff;z-index: 99;}
.area-layer.layer-type-cover .btn-close{position: fixed;z-index: 100;}
.area-layer.layer-type-cover .box-unit{text-align: left;}

.box-link-tit {-webkit-box-sizing:border-box; box-sizing:border-box; overflow:hidden; width:100%;}
.box-link-tit .list-tit {display:-webkit-box; display:box; -webkit-box-sizing:border-box; box-sizing:border-box; overflow-x:scroll; position:relative; width:100%; margin-top:0; padding:0 15px; border-style:solid; border-width:0 0 8px; border-bottom-color:#ebebeb; -webkit-box-shadow:0 -1px 0 #e0e0e0 inset; box-shadow:0 -1px 0 #e0e0e0 inset;}
.box-link-tit .list-tit li {display:-webkit-box; display:box; -webkit-box-orient:vertical; box-orient:vertical; -webkit-box-pack:center; box-pack:center; display:-ms-flexbox; -ms-flex-align:center; -ms-flex-pack:center; -ms-box-orient:horizontal; position:relative;}
.box-link-tit .list-tit.size-2 li {width:50%;}
.box-link-tit .list-tit.size-4 li {width:25%;}
.box-link-tit .list-tit li.on a {border-bottom:3px solid #d71826; color:#d71826; font-weight:600;}
.box-link-tit .list-tit li a {display:block; padding:0 16px; font-size:16px; line-height:44px; color:#222; letter-spacing:-0.05em;}

.area-precaution {margin-top:30px; padding:27px 15px 25px; border-top:1px solid #e4e4e4;}
.area-precaution.type-1 {margin-top:0; border-top:none;}
.area-precaution.type-2 {margin-top:0; padding:22px 15px; border:none; background-color:#dfdfdf;}
.area-precaution h4 {margin-bottom:2px; font-size:13px; color:#222;}
.area-precaution.type-2 h4 {font-weight:600; font-size:12px; color:#666;}
.list-precaution li {position:relative; margin-top:5px; padding-left:7px; font-size:12px; line-height:1.33em; color:#666; letter-spacing:-0.05em; word-break:normal;}
.list-precaution li:before {display:block; position:absolute; top:6px; left:0; width:2px; height:2px; background-color:#707070; content:'';}

.sum{display: inline-block;padding: 3px 7px;font-size: 10px;color: #fff;margin-right: 4px;}
.sum.red{background-color: #d71826;}

.area-layer.type-agree.pop_scroll{position:fixed;top: 15% !important;bottom:15%;left:0;right:0;height:auto;z-index:9999;}
.pop_scroll .heading-h4{margin:19px 0 10.5px 0;font-size:16px;}

/* 공통 */
.heading-img {display:inline-block; overflow:hidden; font-size:25px; line-height:1.1em; font-family:'KTB'; color:#222; letter-spacing:-0.05em;}
.heading-h3 {margin:15px; font-weight:600; font-size:17px; color:#222;}
.heading-h4 {margin:14px 0 8px; font-weight:600; font-size:20px; color:#222;}
.heading-h5 {margin:10px 0 2px; font-weight:600; font-size:17px; color:#222; letter-spacing:-0.05em;}

.line_dvdr{margin: 0;border: 0 none;border-top: 1px solid #e0e0e0;border-bottom: 8px solid #ebebeb;}

.tx_red,.type-red{color: #de142c;}
.tx_gray,.type-gray{color: #888;}

.wbr{display: inline-block;}

[class^="btn_"],[class*=" btn_"]{display: inline-block;height: 27px;font-size: 12px;line-height: 27px;color: #fff;text-align: center;}
.btn_round{display: inline-block;padding: 0 18px;border-radius: 13px;}
.btn_red{border-color: #d71826;background-color: #d71826;}
/* .btn_red:hover{background-color: #b50916;} */
.btn_gray { background-color: #7f7f7f; }
.btn_darkgray{border-color: #222;background-color: #222;}
/* .btn_darkgray:hover{background-color: #222;} */
.btn_line{border-width: 1px;border-style: solid; background-color:#fff;color: #222;line-height: 24px;}
.btn_line:hover{background-color: inherit;}
.btn_line.btn_red{color: #d71826;}
.btn_line.btn_darkgray{color: #222;}
.btns-fin { background:#f1f1f1; color: #222; }

.btn-kakao{border: 1px solid #ffeb33;background:#ffeb33;color:#381e1f;font-weight: bold;}
.btn-kakao .ic:before{content: "";display: inline-block;width: 16px;height:16px;margin: 0 7px 0 0;background: url(/benefit/common/mobile/images/partnership/ic_kakaotalk.png) no-repeat -25px 0;background-size: 50px auto;vertical-align: middle;}
.btn-kakao:disabled .ic:before{background-position: 0 0;}

[class*="btn-"][disabled]{border: 1px solid #ccc;background:#ccc;color:#999;}
[class*="btn-"][class$="pull"]{line-height: 38px;}

@media all and (min-device-width:0px) and (max-device-width:1200px){
	.btn_line{line-height: 25px;}
	[class^="btn_"],[class*=" btn_"]{padding-top: .5px;}
}

.tx_info{font-size: 13px;line-height: 1.5;}
.tx_info li{position: relative;padding: 0 0 0 7px;text-align: left;}
.tx_info li.ic_blt1:before{content: "";position: absolute;left: 0;top: 8px;display: inline-block;width: 2px;height: 2px;background-color: #222;border-radius: 2px;}
.tx_info li.ic_blt2{padding-left: 13px;font-size: 12px;}
.tx_info li.ic_blt2:before{content: "※";position: absolute;left: 0;top: 0;}

.list-input > li {font-size:12px; color:#666;}
.list-input > li .tit {margin:7px 0 6px; font-size:12px; color:#222; letter-spacing:-0.05em;}
.list-input > li input,
.list-input > li select {-webkit-box-sizing:border-box; box-sizing:border-box; width:100%; height:35px; padding:0 10px; border:1px solid #ccc; font-size:12px; line-height:35px;}
.list-input > li select {-webkit-appearance:none; appearance:none; background:#fff url(../img/bg_select.png) no-repeat right top; background-size:33px 33px;}
.list-input > li .input-phone,
.list-input > li .input-email {display:-webkit-flex; display:flex; margin:5px 0;}
.list-input > li .input-unit:first-child {margin-left:0;}
.list-input > li .input-unit.size-1 {-webkit-flex:1; flex:1;}
.list-input > li .input-unit.size-2 {-webkit-flex:initial; flex:initial; line-height:35px;}
.list-input > li .input-unit {-webkit-flex:1.3; flex:1.3; margin-left:5px;}
.list-input.label-hidden .tit{overflow: hidden;clip: rect(0 0 0 0);margin: -1px;width: 1px;height: 1px;}

.tbl-input {width:100%; border-top:2px solid #555; border-collapse:collapse; letter-spacing:-0.05em;}
.tbl-input tbody tr{border-bottom:1px solid #c8c8c8;}
.tbl-input tbody th,
.tbl-input tbody td {padding:11px 9px; /*border-top:1px solid #e0e0e0;*/ font-size:12px; color:#666;}
.tbl-input tbody th {border-right:1px solid #e0e0e0;}
.tbl-input tr:first-child th,
.tbl-input tr:first-child td {border-top:none;}
.tbl-input.type-1 tbody th,
.tbl-input.type-1 tbody td {text-align:left;}
.tbl-input.type-1 tbody th {font-size:13px; color:#222;}
.tbl-input.type-1 tbody td {font-size:13px;}
.tbl-input tbody th {background-color:#f6f6f6; font-weight:600; color:#222; text-align:center;}

input[type="text"]:disabled,input[type="email"]:disabled,input[type="password"]:disabled,input[type="checkbox"]:disabled,input[type="radio"]:disabled{background-color: #f5f5f5;}

/* accodions */
.agree-accordions {width:100%;border:1px solid #e0e0e0;border-bottom:0 none;text-align:left;box-sizing:border-box;}
.agree-accordions li {position:relative;}
.agree-accordions .accordion-title {position:relative;background-color:#f3f3f3;border-bottom:1px solid #e0e0e0;padding:11px 15px;}
.agree-accordions .accordion-trigger {position:absolute;display:block;top:0;right:0;width:39px;height:39px;background-color:transparent;}
.agree-accordions .accordion-trigger:before {content:'';position:absolute;top:50%;right:15px;width:8px;height:8px;border-left:2px solid #6e6e6e;border-top:2px solid #6e6e6e;transform:rotate(225deg);margin-top:-6px;transition:all 0.5s;-webkit-transition:all 0.5s;}
.agree-accordions .accordion-trigger.active:before {content:'';transform:rotate(225deg);-webkit-transform:rotate(45deg);margin-top:-2px;}
.agree-accordions .accordion-contents {display:none;font-size:13px;line-height:17px;color:#666;background-color:#fff;border-bottom:1px solid #e0e0e0;padding:12px;/*max-height:100px;*/overflow:hidden;overflow-y:auto;box-sizing:border-box;-webkit-overflow-scrolling:touch;}
.agree-accordions .accordion-contents.active {display:block;}
.agree-accordions .accordion-contents .heading-h4 {margin-top:0;}
.agree-accordions .accordion-contents .txt {font-size:12px;}
.agree-accordions .accordion-contents .txt ~ .tbl-input {margin-top:10px;}
.agree-accordions .accordion-contents .tbl-input ~ .txt-exp {margin-top:8px;}

.agree-unit .agree-chk{position: relative;padding: 0 0 0 21px;}
.agree-unit .agree-chk input[type="checkbox"]{position: absolute;left: 0;top: 0;width: 17px;height: 17px;border:1px solid #999;background-color: #fff;border-radius: 0;vertical-align: -3px;}
.agree-unit .agree-chk input[type="checkbox"]:disabled{background-color: #f5f5f5;}
.agree-unit .agree-chk label {margin-left:3px;font-size:13px;line-height:18px;color:#222;font-weight:600;}
.agree-unit .agree-chk input[type="checkbox"] + label {padding-left:0;}
.agree-unit .agree-chk input[type="checkbox"] + label:before,
.agree-unit .agree-chk input[type="checkbox"] + label:after {content:none !important;}
.agree-unit .all-chk .agree-chk{padding:11px 15px 11px 37px;background-color:#333;}
.agree-unit .all-chk input[type="checkbox"]{left: 15px;top: 11px;}
.agree-unit .all-chk label {display: block;color:#fff;}
@media all and (min-device-width:0px) and (max-device-width:1200px){
	.agree-unit .agree-chk input[type="checkbox"]{width: 17px;height: 17px;-webkit-appearance: none;}
	.agree-unit .agree-chk input[type="checkbox"]:checked{background: #fff url(/benefit/common/mobile/images/partnership/common/ic_02.png) no-repeat 50%;background-size: 13px auto;}
}